nav{
    font-size:30px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}
nav>a{
    color: white;
    margin-right: 3%;
    margin-top: 1%;
    text-decoration: none ;
}
#bimage{
    background-image: url("images/white-lightbulbyello.jpg");
    width: 100%;
}

#pics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer{
    border: 1px solid black;
    background-color: rgba(247, 203, 11, 0.918);
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    opacity: 0.4;
}    
h2{
    text-decoration: underline solid black;
}
/*visited link */
  a:visited {
    color: green;
  }
  /* mouse over link */
  a:hover {
    color: hotpink;
  }