nav>ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#bimage{
    background-image: url("images/white-lightbulbyello.jpg");
    width: 100%;
}

nav>ol>li>a:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.5);
    background: red;
    color: cyan;
}
